<form [formGroup]="loginForm">
    <div class="form-group">
        <div class="container">
            <div class="row mt-2">
                <h3>Login</h3>
            </div>
            <div class="row mt-2">
                <label for="usr">Username</label>
                <input type="username" formControlName="username" class="form-control" id="usr">
            </div>
            <div class="row mt-2">
                <label for="pwd">Password</label>
                <input type="password" formControlName="password" class="form-control" id="pwd">
            </div>
	    <div class="row mt-0">
                <button type="submit" class="btn btn-primary" (click)="submit()">Submit</button>
            </div>
            <div class="row mt-3">
                <p>Use of MOS is subject to <a
                   href="https://github.com/Fuinn/mos-frontend/blob/main/LICENSE.md"
					      target="_blank">license</a>.
		  To learn more about MOS, including MOS Enterprise and Cloud editions,
		  contact us at <a href="mailto:hello@fuinn.ie">hello@fuinn.ie</a>.
                </p>
            </div>
        </div>
    </div>
</form>
