/* The sidebar menu */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 150px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 65px;
    left: 0;
    background-color: rgb(130, 130, 130);
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}
  
/* The navigation menu links */
.sidenav a {
    padding: 13px 0px 2px 20px;
    text-decoration: none;
    font-size: 18px;
    color: #ffffff;
    display: block;
}
  
/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    background-color:rgb(100, 100, 100);
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

/* Active link */
.active-link {
    background-color:rgb(60, 60, 60); 
}