<div class="sidenav sidenav-dark">
  <a [routerLink]="['main']" routerLinkActive="active-link">Main</a>
  <a [routerLink]="['source']" routerLinkActive="active-link">Source</a>
  <a [routerLink]="['interface', 'input']" routerLinkActive="active-link">Inputs</a>
  <a [routerLink]="['context', 'pre']" routerLinkActive="active-link">Pre-opt</a>
  <a [routerLink]="['optimization']" routerLinkActive="active-link">Optimization</a>
  <a [routerLink]="['context', 'post']" routerLinkActive="active-link">Post-opt</a>
  <a [routerLink]="['interface', 'output']" routerLinkActive="active-link">Outputs</a>
  <a [routerLink]="['execution']" routerLinkActive="active-link">Execution</a>
  <a>Analytics</a>
  <a>Snapshots</a>
</div>
