<div class="container-fluid">
    <div class="row">
        <div class="col"> 

            <div *ngIf="(function$ | async)">

                <!-- Name -->
                <div class="row mt-4">
                    <div class="col-sm-auto font-weight-bold">Name</div>
                </div>
                <div class="row mt-2">
                    <div class="col-sm-auto">{{ (function$ | async).name }}</div>
                </div>

                <!-- Description -->
                <div class="row mt-4 font-weight-bold">
                    <div class="col-sm-auto">Description</div>
                </div>
                <div class="row mt-2">
                    <div class="col-sm-auto" mathjax>{{ (function$ | async).description }}</div>
                </div>

                <!-- Labels -->
                <div class="row mt-4 font-weight-bold">
                    <div class="col-sm-auto">Labels</div>
                </div>
                <div class="row mt-2">
                    <div class="col-sm-auto">{{ (function$ | async).labels }}</div>
                </div>

                <!-- Type -->
                <div class="row mt-4 font-weight-bold">
                    <div class="col-sm-auto">Type</div>
                </div>
                <div class="row mt-2">
                    <div class="col-sm-auto">{{ (function$ | async).type }}</div>
                </div>

                <!-- Shape -->
                <div class="row mt-4 font-weight-bold">
                    <div class="col-sm-auto">Shape</div>
                </div>
                <div class="row mt-2">
                    <div class="col-sm-auto">{{ (function$ | async).shape|json }}</div>
                </div>
            </div>
        </div>
    </div>

    <!-- State -->
    <div class="row mt-4 font-weight-bold">
        <div class="col-sm-auto">Results</div>
    </div>
    <div class="row mt-2">
        <div class="col">
            <app-function-state [function$]="function$"></app-function-state>
        </div>
    </div>
</div>
